include includes/link

block variables

doctype html
html(lang=lang)
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		block head
		link(rel="icon" href="/favicon.ico" type="image/x-icon")
		link(href="/styles/main.css" rel="stylesheet")
		block seo
			include includes/seo
		if process.env.NODE_ENV === 'production'
			include includes/metrika
	body
		.wrapper
			main
				.hero
					block hero
				article
					p.bio
						block bio
			.push
		footer.footer
			ul.social__links
				li.social__link: a.link_to_github.social__anchor(
					href="https://github.com/underoot"
					target="_blank"
					title="GitHub"
				)
				li.social__link: a.link_to_twitter.social__anchor(
					href="https://twitter.com/underoot"
					target="_blank"
					title="Twitter"
				)
			block footer